@import url(https://fonts.googleapis.com/css2?family=Caveat);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url(components/container.css);
@import url(components/banner.css);
@import url(components/card.css);
@import url(components/button.css);
@import url(components/list.css);
@import url(components/footer.css);

* {margin: 0; padding: 0}




body{
	background-color: rgb(230, 230, 230);
	text-align: justify;
	font-family: 'Roboto';
	}


h1,h2 {
	color: white;
	padding: 40px;
}
h1,h3,h4 {
	font-family: 'Caveat';
}
 h1 {
	font-size : 50px;
}
h3,h4 {
	
	padding: 10px;
	font-size: 30px;
}

h3{
	color: rgb(140, 140, 140);
}

h4 {
	color: black;
}

#text-bold {
	font-weight: bold;
}



a{
	text-decoration: none;
	color: rgb(225, 225, 225);
	font-family: 'Caveat';
	font-size: 25px;
}

a:hover {
	color: white;
	font-weight: bold;
}

ul {
	list-style: none;
	text-align: center;
	padding: 10px;
}
li {
	display: inline;
	margin: 30px;
	font-size: 20px;
	
}



@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}